In [1]:
import pandas as pd
import numpy as np

# Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,Fever,bodyPain,dryCough,runnyNose,diffBreath,lossTaste,chestPain,Age,infectionProb
0,98.827477,1,0,1,1,0,1,67,1
1,98.430802,0,1,0,1,0,0,42,0
2,98.530018,-1,0,1,-1,1,0,11,0
3,99.421154,-1,1,1,-1,0,1,13,1
4,99.065842,0,1,0,1,1,0,58,1

In [4]:
df.tail()

,Fever,bodyPain,dryCough,runnyNose,diffBreath,lossTaste,chestPain,Age,infectionProb
2544,98.470528,-1,0,0,0,1,0,98,1
2545,100.342897,0,1,1,-1,0,1,72,0
2546,99.350901,-1,0,1,-1,1,0,95,1
2547,100.209694,1,0,0,0,0,1,7,1
2548,99.930775,0,0,0,1,1,1,1,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2549 entries, 0 to 2548
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fever          2549 non-null   float64
 1   bodyPain       2549 non-null   int64
 2   dryCough       2549 non-null   int64
 3   runnyNose      2549 non-null   int64
 4   diffBreath     2549 non-null   int64
 5   lossTaste      2549 non-null   int64
 6   chestPain      2549 non-null   int64
 7   Age            2549 non-null   int64
 8   infectionProb  2549 non-null   int64
dtypes: float64(1), int64(8)
memory usage: 179.4 KB

In [6]:
df['diffBreath'].value_counts()

 0    873
-1    861
 1    815
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,Fever,bodyPain,dryCough,runnyNose,diffBreath,lossTaste,chestPain,Age,infectionProb
count,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000
mean,99.989072,0.004315,0.491958,0.502550,-0.018046,0.495881,0.515104,50.126716,0.490781
std,1.157695,0.812711,0.500033,0.500092,0.810830,0.500081,0.499870,29.290673,0.500013
min,98.002445,-1.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,1.000000,0.000000
25%,98.962526,-1.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,24.000000,0.000000
50%,100.007324,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,50.000000,0.000000
75%,100.979270,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,76.000000,1.000000
max,101.998203,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,100.000000,1.000000

# Train Test Splitting

In [8]:
def data_split(data,ratio):
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [9]:
train , test = data_split(df,0.2)

In [10]:
train

,Fever,bodyPain,dryCough,runnyNose,diffBreath,lossTaste,chestPain,Age,infectionProb
1918,98.359151,1,1,0,1,1,1,35,0
1908,99.456980,1,1,0,-1,0,0,4,0
2141,100.961839,0,1,1,-1,1,1,63,0
644,99.412817,-1,1,0,0,1,0,5,0
438,98.569951,0,0,1,1,1,0,35,1
...,...,...,...,...,...,...,...,...,...
2029,101.047556,-1,0,0,1,1,0,86,0
378,101.529961,1,1,1,-1,1,0,25,1
1642,98.104257,0,1,1,0,0,1,21,1
1846,98.245784,0,0,1,-1,1,1,18,1
1108,100.960566,-1,1,0,1,0,1,86,0

In [11]:
test

,Fever,bodyPain,dryCough,runnyNose,diffBreath,lossTaste,chestPain,Age,infectionProb
1775,100.412123,-1,0,0,0,1,0,20,1
1738,98.153746,0,1,0,1,0,1,73,1
2203,100.448681,-1,1,0,0,1,1,59,0
1857,99.273480,-1,0,0,0,1,1,67,0
3,99.421154,-1,1,1,-1,0,1,13,1
...,...,...,...,...,...,...,...,...,...
937,99.928258,1,0,1,-1,0,1,86,1
760,101.851621,-1,0,1,0,0,1,27,0
2133,98.529329,1,1,0,0,0,0,39,1
1921,100.780881,-1,1,1,-1,1,1,33,1
1756,99.856551,-1,1,1,1,0,1,40,0

In [12]:
x_train = train[['Fever','bodyPain','dryCough','runnyNose','diffBreath','lossTaste','chestPain','Age']].to_numpy()
x_test = test[['Fever','bodyPain','dryCough','runnyNose','diffBreath','lossTaste','chestPain','Age']].to_numpy()

In [13]:
y_train = train[['infectionProb']].to_numpy().reshape(2040,)
y_test = test[['infectionProb']].to_numpy().reshape(509,)

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
clf = LogisticRegression()

In [16]:
clf.fit(x_train,y_train)

LogisticRegression()

In [17]:
infProb_train = clf.predict_proba(x_train)

In [18]:
infProb_Test = clf.predict_proba(x_test)

In [19]:
# infProb_Test[:,1:]

In [20]:
inputFeatures = [100.1266,0,1,1,0,0,1,26]

In [21]:
prob = clf.predict_proba([inputFeatures])[0][1]

In [22]:
prob

0.49636290685510026